@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@font-face {
    font-family: "Proxima Nova";
    src: url('../assets/fonts/proximanova_black.otf') format('opentype'),
         url('../assets/fonts/proximanova_black.ttf') format('truetype'),
         url('../assets/fonts/proximanova_blackit.otf') format('opentype'),
         url('../assets/fonts/proximanova_bold.otf') format('opentype'),
         url('../assets/fonts/proximanova_boldit.otf') format('opentype'),
         url('../assets/fonts/proximanova_extrabold.otf') format('opentype'),
         url('../assets/fonts/proximanova_light.otf') format('opentype'),
         url('../assets/fonts/proximanova_regular.ttf') format('truetype');
}

:root{
    --main-background: #EDE5C8;
    --highlighted-background: #E7D8B1;
    --primary-text: #374632;
    --secondary-text: #6d885a;
    --button-background: #3B6C70;
    --button-background-pressed: #BCE1DC;
    --button-text: #BCE1DC;
    --button-text-pressed: #3B6C70;
    --card-background: #fdf8e9;
    --font-style: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

[theme-mode="dark"] {
    --main-background: #1c102c;
    --highlighted-background: #2C2741;
    --primary-text: #89BFFF;
    --secondary-text: #4197ff;
    --button-background: #FF6EC7;
    --button-background-pressed: #EFD5EF;
    --button-text: #EFD5EF;
    --button-text-pressed: #FF6EC7;
    --card-background: #2F2B44;
    --font-style: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}