@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@font-face {
    font-family: "Proxima Nova";
    src: url('../assets/fonts/proximanova_black.otf') format('opentype'),
         url('../assets/fonts/proximanova_black.ttf') format('truetype'),
         url('../assets/fonts/proximanova_blackit.otf') format('opentype'),
         url('../assets/fonts/proximanova_bold.otf') format('opentype'),
         url('../assets/fonts/proximanova_boldit.otf') format('opentype'),
         url('../assets/fonts/proximanova_extrabold.otf') format('opentype'),
         url('../assets/fonts/proximanova_light.otf') format('opentype'),
         url('../assets/fonts/proximanova_regular.ttf') format('truetype');
}

:root{
    --main-background: #ede8d7;
    --primary-text: #374632;
    --secondary-text: #5a7a4e;
    --button-background: #374632;
    --button-background-pressed: #839c69;
    --button-text: #FFFFFF;
    --card-background: #fdf8e9;
    --navigation-text: #272727;
    --active-nav-link: #839c69;
    --font-style: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

[theme-mode="dark"] {
    --main-background: #0D1117;
    --primary-text: #F0F6FC;
    --secondary-text: #8B949E;
    --button-background: #26caf7;
    --button-background-pressed: #83e3fd;
    --button-text: #FFFFFF;
    --card-baßckground: #161B22;
    --navigation-text: #C9D1D9;
    --active-nav-link: #89c2f5;
    --font-style: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}